@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Rua São Roque, 685<br />
    Belo Horizonte, MG. 31035-460<br />
    <abbr title="Phone">P: 31 - 99685-9614</abbr>
</address>

<address>
    <strong>Support:</strong> <a href="guih2127@gmail.com">guih2127@gmail.com</a><br />
</address>
